body{
    margin: 0 auto;
    width: 1500px;
    background-color: rgb(238, 235, 231);
    font-family: 'Nunito', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}
section{
    margin-top: 30px 10px;
}
.half-width{
    display: flex;
    width: 100%;  
    margin-top: 105px;
    
}
.half-width img{
    justify-content:space-between;
    width: 60%;
    margin: 20px 0 0 150px;
}
.hard-work{
    width: 50%,;
}
.font-size{
    font-size: 40px;
}
.text-area{
    width: 40%;
    margin-left: 100px;  
}
.hero{
    color:rgba(230, 69, 69, 0.808);
}

h1{
    font-size: 25px;
    color: rgba(27, 26, 26, 0.849);
}
.text{
    font-size: 45px;
}
a{
    font-size: 20px;
    color: cornsilk;
    background-color: rgb(219, 38, 83);
    padding: 10px 22px;
    text-decoration: none;
    border-radius: 5px;
}
a:hover{
    color: darkgrey;
    background-color: rgb(211, 28, 43);
}
.center{
   text-align: center;
   font-size: 45px;
}
.card-mission{
    display: flex;
}
.cards{
    justify-content: center;
    width: 300px;
    height: 400px;
    padding:20px;
    margin: 50px;
}
.card-one{
    background-color: rgba(241, 76, 76, 0.397);
    border: 1px rgba(241, 76, 76, 0.397);
    border-radius: 10px;
}
.card-two{
    background-color: rgba(186, 247, 168, 0.507);
    border: 1px rgb(186, 247, 168, 0.507);
    border-radius: 10px;
}
.card-three{
    background-color: rgba(93, 107, 236, 0.603);
    border: 1px rgba(93, 107, 236, 0.603);
    border-radius: 10px;
}
.illustrators{
    width: 150px;
    height: 150px;
}
.hard-work{
    margin-top: 20px;
    width: 600px;     
}
footer{
    height: 150px;
    width: 100%;
    color: white;
    background-color: crimson;
    text-align: center;
}
footer h1{
    padding-top:20px;
    
}
footer p{
    margin-top: -10px;
    
}
